.input {
  width: 20.375rem;
  height: 12.875rem;
  margin: 0 auto 1rem auto;
  border-radius: 0.75rem;
  border-top-right-radius: 5.75rem;
  padding: 2.5rem;
  background-color: $darkBlue;

  @include breakpoint-up(large) {
    margin: 0;
    margin-right: 1.875rem;
    width: 21.875rem;
  }

  &__logo {
    width: 8.5rem;
    height: 2.5rem;
    margin-bottom: 2rem;
  }

  &__icons {
    display: flex;
    button {
      background-color: $veryDarkBlue;
      border: 0;
      height: 3.125rem;
      width: 3.125rem;
      border-radius: 0.625rem;
      transition: filter 300ms;

      &:not(:last-child) {
        margin-right: 0.9375rem;
        @include breakpoint-up(large) {
          margin-right: 1.125rem;
        }
      }

      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}

.upload {
  position: relative;
  width: 20.375rem;
  height: 10rem;
  background-color: $darkBlue;
  color: $paleBlue;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 2.125rem;

  @include breakpoint-up(large) {
    margin: 0;
    width: 33.75rem;
    margin-bottom: -2.5rem;
  }

  &__text {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1.25rem;

    @include breakpoint-up(large) {
      text-align: left;
    }

    span {
      font-weight: 700;
    }
  }
  &__progress-bar {
    position: relative;
    width: 100%;
    height: 1.25rem;
    background-color: $darkerBlue;
    margin-bottom: 0.75rem;
    border-radius: 3.125rem;

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(to right, $gradientRed, $gradientPink);
      border-radius: 3.125rem;
      width: 75%;
      top: 0.125rem;
      bottom: 0.1875rem;
      left: 0.125rem;
    }

    span {
      position: absolute;
      right: 4rem;
      top: 0.28125rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      background-color: white;
      border-radius: 50%;
      z-index: 1;

      @include breakpoint-up(large) {
        right: 7.5rem;
      }
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.75rem;
    color: $paleBlue;
  }

  &__storage {
    width: 11.25rem;
    height: 4.5rem;
    position: absolute;
    background-color: white;
    color: black;
    left: 50%;
    bottom: -2.8rem;
    transform: translateX(-50%);
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grayishBlue;
    font-weight: 700;
    border-radius: 0.625rem;
    letter-spacing: 0.0625rem;

    @include breakpoint-up(large) {
      top: -2.25rem;
      right: 2.125rem;
      transform: translateX(0);
      left: auto;
      border-bottom-right-radius: 0;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 0px;
        bottom: -1.25rem;
        border: 0.75rem solid;
        border-color: white white transparent transparent;
      }
    }

    span {
      font-size: 2.125rem;
      color: black;
      margin-right: 0.75rem;
    }
  }
}
