body {
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-image: url("/images/bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint-up(large) {
    background-image: url("/images/bg-desktop.png");
    background-position: center right;
  }
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-up(large) {
    flex-direction: row;
    align-items: center;
  }
}
