//Colors
$gradientRed: hsl(6, 100%, 80%);
$gradientPink: hsl(335, 100%, 65%);
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$darkerBlue: hsl(229, 54, 18);
$veryDarkBlue: hsl(229, 57%, 11%);
